
<div class="col-md-6 user-container">
  <button class="btn btn-danger" style="width:100px" (click)="addProduct()"> Add Product</button>
    <h2 style="margin: auto"> Product Details </h2> 
    <table>
    <thead>
    <tr>
     
        <th>City </th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Price</th>
        <th>Status</th>
        <th>Color</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products">
        <td class="hidden"></td>
        <td>{{product.city}}</td>
        <td>{{product.startDate}}</td>
        <td>{{product.endDate}}</td>
        <td>{{product.price}}</td>
        <td>{{product.status}}</td>
        <td>{{product.color}}</td>
        <td><button class="btn btn-success" (click)="deleteProduct(product)"> Delete</button>
          <button class="btn btn-success" (click)="editProduct(product)" style="margin-left: 20px;"> Edit</button></td>
      </tr>
      </tbody>
    </table>
  </div>