<div class="col-md-6 user-container">
    <h2 class="text-center">Edit User</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="hidden">
        <input type="text" formControlName="productId" placeholder="productId" name="productId" class="form-control" id="productId">
      </div>
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" formControlName="city" placeholder="city" name="city" class="form-control" id="city" >
      </div>
  
      <div class="form-group">
        <label for="startDate">Start Date:</label>
        <input  type="datetime-local"  formControlName="startDate" placeholder="Start Date" name="startDate" class="form-control" id="startDate">
      </div>
  
      <div class="form-group">
        <label for="endDate">End Date:</label>
        <input type="datetime-local" formControlName="endDate" placeholder="end Date" name="endDate" class="form-control" id="endDate">
      </div>
  
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="text" formControlName="price" placeholder="price" name="price" class="form-control" id="price">
      </div>
  
      <div class="form-group">
        <label for="status">Status:</label>
        <input type="text" formControlName="status" placeholder="status" name="status" class="form-control" id="status">
      </div>
  
      <div class="form-group">
        <label for="color">Color:</label>
        <input type="text" formControlName="color" placeholder="color" name="color" class="form-control" id="color">
      </div>
      <button class="btn btn-success">Update</button>
    </form>
  </div>
  